body {
	background-image: url(background.jpg);
	background-size: cover;
}

p {
	color: black;
	text-align: center;
	font-size: large;
}

.section h1 {
	text-align: center;
	font-family: Calibri;
	font-size: 50px;
	margin: 0
  }

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

/* make the navigation bar fixed and stay on top and in front */
.topnav {
	float: left;
	text-align: center;
	overflow: auto;
	position: fixed;
	width: 100%;
	z-index: 2;
  }

/* Style the links inside the navigation bar */
.topnav li {
	display: inline-block;
	padding: 1% 2.3%;
	font-size: 23px;
  }
.topnav li a {
	color: #12045f;
	font-family: Arial;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
  }
/* Change the links on hover */
.topnav a:hover {
	color: #396bc8;
	font-style: italic;
	font-weight: bold;
	transform: translateY(20%);
  }

/* Style the logo */
.topnav img {
	float:left;
	width: 80px;
	height: 80px;
	margin-left: 3%;
	margin-top: 0.2%;
}

/* Style photos in "My photos" section */
.photoGallery {
	justify-items: center;
	align-items: center;
	position: relative;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 3fr);
	grid-template-rows: repeat(3, 3fr);
	max-width: 1400px;
	max-height: 450px;
	margin-bottom: 3%;
}
.photos {
	display: flex;
	align-items: center;
	max-width: 100%;
	transform: scale(0.95);
	border: 5px solid #ffffff;

}
/* Change the photos on hover */
.photoGallery :hover {
    z-index: 1;
    transform: scale(1.2);
	box-shadow: 0 0 14px 8px rgba(0, 140, 186, 0.5);
  }


  